/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ------------- BODY ------------- */
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $normalWeight;
}

html, body {
		max-width: 100%;
		max-height: 100%;
    overflow-x: hidden;
}

.wrapper {
	max-width: 64rem;
}

header {
	background-color: $menuColor;
	height: 120px;
	padding: 1rem 30px;

	h1 {
		margin: 20px 0 0 90px;
		color: white;
		font-size: 3rem;
	}
}

.logo {
	padding-left: 10px;
	max-width: 80px;
	float: left;
}

/*  ------------- HEADER -------------  */
header {	
	background-color: $menuColor;

} // end header


/*  ------------- NAV -------------  */
nav {
	align-self: center;
	background-color: $menuColor;

	button {
		font-size: 1.5rem;
		color: white;
		background-color: rgba(0,0,0,0.2);
		border: solid 1px rgba(168, 168, 168, 0.3);
		width: 4rem;
		border-radius: 5px;
	}

	#primaryNav li a:hover {
		background-color: rgba(0,0,0,.5);
	}

	ul li a {
		display: block;
		color: #fff;
		text-decoration: none;
		width: 100%;
		padding: .6rem 2%;
		border-bottom: solid 1px rgba(133, 133, 133, 0.473); 
	}

	ul {
		overflow: hidden;
		transition: max-height 0.5s;
		-webkit-transition: max-height 0.5s;
		-moz-transition: max-height 0.5s;
	}

	ul li.active a {background-color: $primaryColor;}
	ul li ul li a {padding-left: 8%;}
	
	/* ------------------------------------------------------------------------- */
	
	#primaryNav li.parent > a:after {
		font-size: .75rem;
		content: "\25BC";
		color: rgba(255,255,255,.5);
		float: right;
		}

		#primaryNav li.parent > a:hover {
			background: rgb(0, 0, 0);
		}

		#primaryNav li ul {
			display: none;
			background: $menuColor;
			padding: 0;
		}

		#primaryNav li:hover ul {display: block;}
	/* ------------------------------------------------------------------------- */

	ul.closed {max-height: 0;}
	ul.open {max-height: 25rem;}

} // end nav


/*  ------------- MAIN -------------  */
main {

		form {
			margin: 0 2%;
		}

		form fieldset {
			margin: 2rem 0;
			border: 1px solid #333;
			border-radius: 10px;
			padding: .5rem 2%;
		}

		form legend {
			color: #333;
			margin: 0 1rem;
			padding: 0 .5rem;
			font-size: 1.5rem;
			font-weight: 700;
		}

		form label.top, form div {
			display: block;
			padding-top: 1rem;
			color: #333;
			font-size: 1.15rem;
			font-weight: 600;
		}

		form label.top input, form label.top select {
			-webkit-appearance: none;
			display: block;
			font-size: 1rem;
			border: none;
			background-color: #ccc;
			border-radius: 20px;
			padding: .75rem;
			color: #333;
			width: 100%;
			max-width: 20rem;
		}

		form label.sbs {
			display: block;
			padding: .75rem 0;
			color: #333;
			font-weight: 600;
			font-size: 1.15rem;
		}

		form input.submitBtn {
			border: none;
			background-color: rgb(66, 85, 110);
			color: white;
			border-radius: 2rem;
			padding: .75rem 1.5rem;
			margin: 0 0 2rem 2%;
			width: 96%;
			max-width: 20rem;
		}

		form label.top input:required {
			border-left: rgb(255, 116, 116) solid 6px;
		}

		form label.top input:required:valid {
			border-left: rgb(96, 141, 96) solid 6px;
		}

	h1 {
		font-size: 2rem;
		margin: 1.5rem 0 .5rem 0;
		color: $primaryColor;
	} // end h1
	h2 {
		font-size: 1.2rem;
		margin: 1.1rem 0 .2rem 0;
		color: lighten($primaryColor,20%);
	} // end h2
	
} // end main

/*  ------------- FOOTER -------------  */
footer {
	align-self: center;
	width: 100%;
	background-color: $primaryColor;
	p {
		text-align: center;
		color: $secondaryColor;
		padding: .75rem 0;
		font-size: .9rem;
	} // end p
    
	p a {color: $fontColor;}
	
} // end footer

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

