$primaryColor: #37444e;
$secondaryColor:#c5c5c5;
$fontColor: #dce2eb;
$menuColor: #37444e;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
