$primaryColor: #596d3e;
$secondaryColor:#c5c5c5;
$fontColor: #dce2eb;
$menuColor: #596d3e;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
